<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forecasting Flow</title>
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_1.css') }}">
</head>
<body>
    <header id="header">
        <!-- Display username and logout button -->
        {% if username %}
            <div class="user-info">
                <span>Welcome, {{ username }}!</span>
                <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
            </div>
        {% endif %}
    </header>

    <!-- Content goes here -->
    <div class="carousel">
        <h3 class="domain">ForecastingFlow</h3>
        <div class="carousel-content">
            <p class="p">"Empowering Businesses with Precision" <br>Your Key to Future Sales Success <br></p>
            <a href="{{ url_for('upload_form') }}">
                <input type="button" value="Let's Forecast" style="width: 300px; height:60px; font-size:30px; border-radius:100px; font-family: 'Anta', sans-serif;">
            </a>
        </div>
    </div>

    <!-- Section -->
    <h1 class="h1">IMPACT & BENEFITS</h1>
    <!-- Your Dashboard sections -->
    <div class="Dashboard">
        <!-- Section content -->
    </div>
    
    <footer id="footer"></footer>
    
</body>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>
